<nav class="navbar navbar-expand-lg navbar-light bg-light nav-style">
    <a class="navbar-brand" href="#">
      <img src="../assets/images/logo.png" width="142" height="70" alt="Finastra | Financial Software Solutions">
    </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
   <div class="collapse navbar-collapse" id="navbarText">
     <div class="navbar-nav mr-auto"></div>
    <span class="navbar-text">
      <ul class="navbar-nav mr-auto font-weight-bold">
        <li class="nav-item active" >
          <a class="nav-link" href="#" routerLink="" routerLinkActive="active">Dashboard <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" href="#" routerLink="/solutions" routerLinkActive="active">Solutions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/communitymarket" routerLinkActive="active">Community Markets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/service" routerLinkActive="active">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/platform" routerLinkActive="active">Platform</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/career" routerLinkActive="active">Career</a>
        </li>
      </ul>
    </span>
  </div>
</nav>