/* You can add global styles to this file, and also import other style files */
.imageContainer {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 30px;
  }
.centered {
    position: absolute;
    top: 25%;
    left: 21%;
    color:white;
    text-transform:capitalize;
    transform: translate(-50%, -50%);
  }
  .nav-style{
    box-shadow: 10px 10px 5px #aaaaaa;
  }
  .nav-link.active{
    

  }